.button{
    -fx-background-color:#FF6347; 
    -fx-text-fill:white;
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-pref-width: 150px; 

}

.root{
    -fx-background-color:#FFFFE0; 
}

#title-titulo{
    -fx-text-fill:#FF7F50;
    -fx-font-size: 30pt;
    -fx-font-weight: bold;
}

.label{
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

#derecho{
    -fx-border-color: black;
    -fx-border-width: 1; 
}

#panel{
    -fx-border-color: black;
    -fx-border-width: 1; 
}